<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Player auctions</title>
		<link media="all" rel="stylesheet" href="/assets/primer.css" />
		<link media="all" rel="stylesheet" href="/assets/style.css" />

		<link media="all" rel="stylesheet" href="/assets/datatables/jquery.dataTables.min.css" />
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="/assets/datatables/jquery.dataTables.min.js"></script>
	</head>
	
	<body>
		<div class="container">
			<header class="blankslate clean-background">
				Football Dream Team
			</header>
		
			<div class="columns">
				<nav class="menu column one-fifth">
					<a class="menu-item" href="/">Accueil</a>
					<a class="menu-item" href="/mentions-legales">Mentions légales</a>
					<% if (user) { %>
						<a class="menu-item" href="/deconnexion">Déconnexion</a>
						<span class="menu-heading">Mon compte</span>
						<a class="menu-item" href="/monequipe">Mon équipe</a>
						<a class="menu-item" href="/moncompte">Paramètres</a>
						<span class="menu-heading">Admin</span>
						<a class="menu-item" href="/admin/ajouter">Ajouter</a>
						<a class="menu-item" href="/admin/editer">Editer</a>
					<% } else { %>
						<a class="menu-item" href="/connexion">Connexion</a>
						<a class="menu-item" href="/inscription">Inscription</a>
					<% } %>
				</nav>

				<section class="column four-fifths">