<% include ../partials/header %>
<div class="blankslate">
	<h1>Mentions légales</h1>
	<strong>Raison sociale :</strong> Emilien Schneider<br />
	<strong>Siège social :</strong> 95 route de la patouillerie, 44700 Orvault<br />
	<strong>Numéro de téléphone :</strong> 07 82 25 30 18<br />
	<strong>Numéro de SIRET :</strong> 751 308 263 00019<br />
	<strong>Directeur de la publication :</strong> Emilien Schneider<br />
	<strong>Raison sociale de l’hébergeur :</strong> ...<br />
	<strong>Siège sociale de l’hébergeur :</strong> ...<br />
	<strong>Numéro de téléphone de l’hébergeur :</strong> ...<br />
</div>
<% include ../partials/footer %>