<% include ../partials/header %>
<div class="blankslate">
	<h1>Inscription</h1>
	
	<% if (message.length > 0) { %>
        <div class="flash flash-error"><%= message %></div>
	<% } %>

	<form action="/inscription" method="POST">
		<dl class="form">
			<dt><label for="username">Identifiant : </label></dt>
			<dd><input type="text" name="username" class="input-large" placeholder="Identifiant" /></dd>
		</dl>
		<dl class="form">
			<dt><label for="password">Mot de passe : </label></dt>
			<dd><input type="password" name="password" class="input-large" /></dd>
		</dl>
		<button class="btn btn-primary" type="submit">Je m'inscris</button>
	</form>
	
	<hr />

	<p>Déjà un compte ? <a href="/connexion">Connexion</a></p>
	<p>Ou retour à l'<a href="/">accueil</a>.</p>
</div>
<% include ../partials/footer %>