<% include ../partials/header %>
<div class="blankslate">
	<h1>Mon équipe</h1>
	
	<% if (user.team == undefined) { %>
		<div class="flash flash-error">Votre équipe n'a pas encore été créée !</div>
		<form action="/monequipe/creer" method="POST">
			<dl class="form">
				<dt><label for="name">Nom : </label></dt>
				<dd><input type="text" name="name" class="input-large" placeholder="Nom de l'équipe" /></dd>
			</dl>
			<button class="btn" type="submit">Créer</button>
		</form>
	
	<% } else { %>
		
		<h2>Nom</h2>
		<%= userTeam.name %>

		<h2>Liste des joueurs</h2>
		<% userTeam.players.forEach(function(player){ %>
			- <%= player %><br />
		<% }) %>
	
		<h2>Gardien</h2>
		<a href="/monequipe/acheter/Gardien">Acheter un gardien</a>.
	
		<h2>Défenseur</h2>
		<a href="/monequipe/acheter/Defenseur%20central">Acheter un défenseur central</a>.
	
		<h2>Milieu de terrain</h2>
		<a href="/monequipe/acheter/milieu">Acheter un milieu de terrain</a>.
	
		<h2>Attaquant</h2>
		<a href="/monequipe/acheter/attaquant">Acheter un attaquant</a>.
		
	<% } %>
</div>
<% include ../partials/footer %>