<% include ../partials/header %>
<div class="blankslate">
	<h1>Ma formation</h1>
	
	<% if (user.team == undefined) { %>
		<div class="flash flash-error">Votre équipe n'a pas encore été créée !</div>
		<form action="/mon-equipe/creer" method="POST">
			<dl class="form">
				<dt><label for="name">Nom : </label></dt>
				<dd><input type="text" name="name" class="input-large" placeholder="Nom de l'équipe" /></dd>
			</dl>
			<button class="btn" type="submit">Créer</button>
		</form>
	
	<% } else { %>

		<div>
			Formation <br />
			Joueurs sélectionnés <br />
			Remplaçants <br />
		</div>

	<% } %>
</div>

<% include ../partials/footer %>